.room-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.room-container .status-container {
  height: 50px;
  margin: auto;
}

.room-container .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 300px;
}

.room-container .main-container .players-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  margin-right: 20px;
}

.room-container .main-container .players-container .player-container {
  margin-top: 20px;
}

.room-container .main-container .moves-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.room-container .main-container .moves-container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.room-container .main-container .moves-container .cards-container .card-container img {
  width: 140px;
  height: 200px;
}

.room-container .main-container .moves-container .roundwinner-container {
  margin-left: auto;
  margin-right: auto;
}

.room-container .main-container .chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  word-wrap: break-word;
  margin-left: 30px;
  overflow-y: scroll;
}

.room-container .main-container .chat-container .message-container {
  margin-bottom: 10px;
  margin-right: 20px;
}

.room-container .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.room-container .bottom-section .spectators-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.room-container .bottom-section .spectators-container div {
  margin-left: 30px;
}

.room-container .bottom-section .actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.room-container .bottom-section .actions-container button {
  margin-bottom: 10px;
}

.room-container .bottom-section .space {
  width: 60%;
}

.room-container .bottom-section .input-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=Room.css.map */