.room-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    .status-container {
        height: 50px;
        margin: auto;

    }
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 300px;
        .players-container {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            margin-right: 20px;
            .player-container {
                margin-top: 20px;
            }
        }
        .moves-container {
            display: flex;
            flex-direction: column;
            width: 40%;
            .cards-container {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .card-container {
                    img {
                        width: 140px;
                        height: 200px;
                    }
                    
                }
            }
            .roundwinner-container {
                margin-left: auto;
                margin-right: auto;                    
            }
        }
        .chat-container {
            display: flex;
            flex-direction: column;
            max-width: 250px;
            word-wrap: break-word;
            margin-left: 30px;
            .message-container {
                margin-bottom: 10px;
                margin-right: 20px;
            }
            // max-height: 600px;
            overflow-y: scroll;
        }
    }
    .bottom-section{
        display: flex;
        flex-direction: row;

        .spectators-container {
            display: flex;
            flex-direction: column;
            margin-right: 100px;
            div {
                margin-left: 30px;
            }
        }
        .actions-container {
            display: flex;
            flex-direction: column;
            margin-right: 100px;
            button {
                margin-bottom: 10px;
            }
        }
        .space {
            width: 60%;
        }
        .input-container {
            align-self: flex-end;
        }
    }

}